*{margin: 0; padding: 0;}
.cabeçalho { background-color: rgb(80, 143, 67);color: black;display: flex;justify-content: space-around;padding: 24px 0;}
.cabeçalho-imagem { width: 20%;}
.cabeçalho-item-lista{ display: inline-block; margin: 0 16px; padding: 24px 0; font-size: 24px;}
.escola {background-image: linear-gradient(rgb(252, 252, 252),rgb(248, 248, 248)0);display: flex;}
.escola-conteúdo{width: 70%;}